{% extends 'base.twig' %}
{% block body %}
    <form method="post" action="/naptien/xu-ly-du-lieu">
        <a href="/">Home</a>
        <H1>Nạp Thẻ</H1>
        <table>
            <tr>
                <td><a>Chọn nhà mạng</a></td>
            </tr>
            <tr>
                <td>
                    <select name="TenDanhSach">
                        <option>Viettel</option>
                        <option>Vinaphone</option>
                        <option>Mobilephone</option>
                        <option>VietNamMobile</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <a>Nhập số tiền muốn nạp</a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="tienNap" placeholder="điền vào đây">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Nạp">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}